body{
    background-color: rgb(202, 255, 252);
    
}
h1{
    text-align: center;
}


.hstyle{
    font-family: 'Arial';
    font-size: 16px;
    line-height: 26px;
    color: rgb(138, 86, 187);
}

.info-text{
    padding : 20px;
    background-color: rgb(79, 193, 221);
    border-radius: 20px;
    font-family: 'Arial', 'Verdana', sans-serif;
    text-indent: 10vw;
    padding-left:2vw ;
}


img{

    padding : 20px;
    border-radius: 40px;
    width: 17vw;
    height: 40vh;
}

.text_smartfone{

 color: rgb(249, 249, 249);

}

a{
    color: rgb(249, 249, 249);
    text-decoration: none;
}


.b{grid-area: b;
  margin-left: 5vmin;
 
}
.c{grid-area: c;
    text-align: left;
    color: rgb(249, 249, 249);
   width: 50vw;
    font-size: 2.5vmin;
}


    
.smartfone {
    background-color: rgb(100, 79, 221);
    border-radius: 20px;
    padding-left:2vw ;
     margin: 2em;
    border:1px solid black;
     display: grid;
    grid-template-columns: auto; /* Две колонки одинаковой ширины */
    grid-template-rows: auto; /* Высота строк будет автоматически подстраиваться под содержимое */
     grid-template-areas: 
     "b c";
     gap: 1em;
    padding: 1em;
}