body{
    background-color: rgb(202, 255, 252);
    
}
h1{
    text-align: center;
}


.hstyle{
    font-family: 'Arial';
    font-size: 16px;
    line-height: 26px;
    color: rgb(138, 86, 187);
}

.info-text{
    background-color: rgb(79, 193, 221);
    border-radius: 20px;
    font-family: 'Arial', 'Verdana', sans-serif;
    text-indent: 10vw;
    padding-left:2vw ;
}

.smartfone{
    background-color: rgb(100, 79, 221);
    border-radius: 20px;
    padding-left:2vw ;
}